<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
  =====================
    Templates/News/List.html
-->

<f:section name="content">

  <!--TYPO3SEARCH_end-->
  <f:if condition="{news}">
    <f:then>

      <div class="news-list-view" id="news-container-{contentObjectData.uid}">

        <f:if condition="{settings.templateLayout}">
          <f:else>
            <div class="news-list-all mdl-card mdl-shadow--2dp">
              <f:if condition="{settings.hidePagination}">
                <f:then>
                  <ul class="mdl-list">
                    <f:for each="{news}" as="newsItem" iteration="iterator">
                      <f:render partial="List/Item-List" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                    </f:for>
                  </ul>
                </f:then>
                <f:else>
                <ul class="mdl-list">
                  <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
                    <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
                      <f:render partial="List/Item-List" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                    </f:for>
                  </n:widget.paginate>
                </ul>
                </f:else>
              </f:if>
            </div>
          </f:else>
        </f:if>

        <f:comment>List Start</f:comment>
        <f:if condition="{settings.templateLayout} == 10">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Cras orci eros, sagittis nec quam at.</p>


          <p class="events-teaser">Verpasse nicht unseren nächsten Event
            <time datetime="{f:format.date(date:news.0.datetime, format:'Y-m-d')}">
              am <f:format.date format="{f:translate(key:'dateFormat')}">{news.0.datetime}</f:format.date>
            <meta itemprop="datePublished" content="{f:format.date(date:news.0.datetime, format:'Y-m-d')}" />
          </time> : <br>
            <n:link newsItem="{news.0}" settings="{settings}" title="{news.0.title}">
              <strong>{news.0.title}</strong>
              <!-- <br> -->
              <!-- place -->
              <f:if condition="{news.0.author}">
                <span class="news-list-author">
                  im {news.0.author}
                </span>
              </f:if>
            </n:link>
            <br>
          </p>
          <p><f:link.typolink parameter="13" class="mdl-button mdl-js-button mdl-button--raised">Weitere Events</f:link.typolink></p>

        </f:if>

        <f:comment>List Card</f:comment>
        <f:if condition="{settings.templateLayout} == 20">
          <div class="news-list-highlight mdl-grid">
            <f:for each="{news}" as="newsItem">
              <f:render partial="List/Item-Card" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
            </f:for>
          </div>
        </f:if>



      </div>
    </f:then>
    <f:else>
      <div class="no-news-found">
        <f:translate key="list_nonewsfound" />
      </div>
    </f:else>
  </f:if>
  <!--TYPO3SEARCH_begin-->
</f:section>
</html>
