<f:layout name="Main" />
<f:section name="Template">noHero</f:section>

<f:section name="Main">

  <div class="container">
    <f:format.raw>{content}</f:format.raw>
  </div>

  <f:render partial="Section/CallToAction" arguments="{callToAction : callToAction}" />

</f:section>
