<f:layout name="Main" />
<f:section name="Template">start</f:section>

<f:section name="HeaderAssets">
  <f:render partial="Assets/CanonicalReference"/>
</f:section>


<f:section name="Main">

  <f:render partial="Section/Hero" arguments="{_all}" />

  <f:comment>
    <section class="showcase-crew">
      <div class="container">
        <f:format.raw>{crew}</f:format.raw>
      </div>
    </section>

    <f:render partial="Section/Crew" />
  </f:comment>

  <div class="layout-start-content">
    <div class="container">
      <f:format.raw>{content}</f:format.raw>
    </div>
    <div class="container">
      <section class="threeCol frame frame-default">
        <f:format.raw>{threeCol}</f:format.raw>
      </section>
    </div>
<f:comment><!--

    <section class="awards">
      <div class="container">
        <f:format.raw>{awards}</f:format.raw>
      </div>
    </section>

--></f:comment>
    <div class="container">
      <f:format.raw>{contentBottom}</f:format.raw>
    </div>
  </div>

  <f:render partial="Section/CallToAction" arguments="{callToAction : callToAction}" />



</f:section>
