section.awards {
    background: unquote("rgb(#{$color-accent})");
    color: white;

    padding-top: 30px ; 
    padding-bottom: 30px - $grid-tablet-gutter;
 
    @media (min-width: $grid-desktop-breakpoint) {
        padding-top: $section-space;
        padding-bottom: $section-space - $grid-tablet-gutter;
    }


    position: relative;
    overflow: hidden;

    &:before {
        @include im-icon();
        content: "\e99e";   
        font-size: 350px;
        position: absolute;
        top: -22px;
        left: -44px;
        opacity: .1;
    }


    .container {
        @include flex-layout(2);
        > * {
            width: auto;
            @include set-responsive-gutter-space(margin-bottom);
            padding-bottom: 0;
        }
    }
    
    .frame {
        
        header > * {
            @extend .mdl-typography--headline;
            margin-top: 0;
            margin-bottom: 8px;
            color: white;
        }

        strong {
            font-size: 18px;
        }

        p {
            margin: 0;
        }

        &:before {
            font-size: 54px;

            position: absolute;
            top: 0;
            bottom: 0;
            @include set-responsive-margin-space(left);

            display: flex;
            align-items: center;
         }


    }
}