section.callToAction {
    margin-top: 80px;
    padding-top: 32px;
    padding-bottom: 32px;

    background-color: unquote("rgb(#{$color-primary})");
    color: white;
    text-align: center;
    
    p {
        @extend .mdl-typography--headline;
        margin-bottom: 0;
    }

    a {
        @include btn-cta();
        margin-left: 16px;
    }
}