/**
 * skew
 */

.skew-wrap {
  margin-top: -92px;
  position: relative;
  overflow: hidden;
  transform: skew(0deg,-4deg);

  .layout-start & {
    height: 911px;
  }
}
.skew-content {
  transform: skew(0deg,4deg);
  height: 100%;
  margin-top: 92px;
}




/**
 * Hero Section
 */

section#hero {
  margin-bottom: 100px;



  .hero-media {
    position: relative;
    height: 100%;
    @include bg-gradient();
    // background-blend-mode: multiply;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      z-index: 1;
      background-image: url('/typo3conf/ext/jgrp_site/Resources/Public/Images/hero-default.jpg');
      background-size: cover;
      background-position: center;
      opacity: 0.5;
      // background-blend-mode: multiply;
      background-attachment: fixed;
      pointer-events: none;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .layout-start & {
      display: block;
    }


    .hero-title {
      z-index: 2;
      position: relative;
      top: -37px;
      h1 {
        color: white !important;
      }
      text-align: center;
      @include set-responsive-margin-space(padding);
    }


    .layout-start & {
      // min-height: 600px;


      padding-top: 64px;
      @media (min-width: $grid-desktop-breakpoint) {
        padding-top: 164px;
      }
      padding-bottom: 56px;
      @include bg-gradient();
    }

    .hero-content-elements {
      position: relative;

      // .vegas-overlay {
      //   opacity: 0.7;
      //   @include bg-gradient();
      // }

      .frame {
        @include container-padding();
        text-align: center;
        color: white;
        max-width: 750px;
        margin: auto;
        // margin-top: 32px;
      }

      .subhead {

        font-size: 18px;
        font-weight: 200;
        color: white;

        @media (min-width: $grid-tablet-breakpoint - 1) {
          font-weight: 100;
          display: block;
          font-size: 24px;
          line-height: 32px;
        }
      }

      .frame a {

        @media (max-width: $grid-tablet-breakpoint - 1) {
          margin-right: 0px;
          // min-width: 100%;
        }

        @include btn-cta();
        margin-top: 16px;
        margin-right: 20px;
      }
    }

  }
}

section.callToAction + footer {
  margin-top: 0;
}

.hero-video {
  object-position: center center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .5;
}
