body {
	background-color: $background-color;
}

.layout-main {
  background-color: white;
}



.container {
  //max-width: 925px;
  max-width: 100%;
  > .frame {
    max-width: 925px;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
 * Header, Drawer
 */

.mdl-layout__header {
  display: flex;
   background: $layout-header-bg-color;
  @include shadow-2dp();

  @media screen and (min-width: $layout-screen-size-threshold + 1px) {

    .layout-start &, .layout-main & {

      position: absolute;
      background: none !important;
      box-shadow: none !important;

    }
  }

}

.mdl-layout__drawer-button {
  color: #fff;
}


.layout-start, .layout-main {
  .mdl-layout__content {
    padding-top: 0;
  }
}


.mdl-layout__content:before, .skew-wrap, section#hero {
  height: 75vh;
  min-height: 350px;

  .layout-start & {
    height: 100vh;
  }

}

.mdl-layout__content:before {
  background: unquote("rgba(#{$color-accent}, 0.15)");
  display: block;

  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.layout-noHero .mdl-layout__content:before {
  content: '';
  top: 0;
  transform: skewY(-4deg);
  transform-origin: top left;
}

// .mdl-layout__content:after {
//   bottom: 0;
//   content: '';
//   transform: skewY(4deg);
//   transform-origin: bottom left;
// }

.mdl-grid {
  padding: 0;
}

.frame.frame-background-gray {
  max-width: 100%;
  background-color: lightgray;

  @extend .container;
}

.frame.frame-wide {
  max-width: 1200px;
}

.frame.frame-wide-max {
  max-width: 1400px;
}



