  .mdl-list__item-primary-content {
    @include change-link-color(inherit, $text-link-color);
  }

  .mdl-list__item {
    .mdl-list__item-secondary-content {
      display: none; // hide for now
      align-items: center;
    }
    a.mdl-list__item-secondary-content {
      &:hover {
       text-decoration: none;
      }
    }
  }

  .mdl-list__item-primary-content .mdl-list__item-avatar {
    color: inherit;
    background-color: inherit;
    width: auto;
    font-size: 28px;
    margin-right: 26px;
    margin-left: 26px - $list-min-padding;
    color: rgba(0,0,0,.54);

    .mdl-list__item-avatar-bottom, .mdl-list__item-avatar-top {
      display: block;
      text-align: center;
    }

    .mdl-list__item-avatar-bottom {
      font-size: 15px;
      margin-top: 2px;
    }
  }
