@mixin bg-gradient($left: rgb(0,0,0), $right: rgb(0,0,0)) {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$left+0,40c4ff+68 */
  background: $left !important; /* Old browsers */
  background: -moz-linear-gradient(45deg,  $left 0%, $right 68%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  $left 0%,$right 68%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  $left 0%,$right 68%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

@mixin inverted-color() {
  color: #f9faef;
  background-color: #2f3034;// #424242; //#303030; 
}


@mixin btn-cta() {
  display: block;
  text-align: center;
  transition: box-shadow 0.2s $animation-curve-fast-out-linear-in,
              background-color 0.2s $animation-curve-default,
              color 0.2s $animation-curve-default;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  line-height: 50px;
  display: inline-block;
  border-radius: 2px;
  min-width: 200px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);

  &:hover {
    background-color: rgba(255,255,255,0.2);
  }
}