.layout-start .hero-content {
	// min-height: 600px;


  //padding-top: 64px;
  @media (min-width: $grid-desktop-breakpoint) {
     // padding-top: 164px;
  }
  // padding-bottom: 56px;
  //@include bg-gradient();

	// .vegas-overlay {
	// 	opacity: 0.7;
	// 	@include bg-gradient();
	// }

  // .frame {
  //   @include container-padding();
  //   text-align: center;
  //   color: white;
  //   max-width: 750px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   // margin-top: 32px;
  // }

  // .subhead {

  //   font-size: 18px;
  //   font-weight: 200;

  //   @media (min-width: $grid-tablet-breakpoint - 1) {
  //     font-weight: 100;
  //     display: block;
  //     font-size: 24px;
  //     line-height: 32px;
  //   }
  // }

  // .frame a {

  //   @media (max-width: $grid-tablet-breakpoint - 1) {
  //     margin-right: 0px;
  //     // min-width: 100%;
  //   }

  //   @include btn-cta();
  //   margin-top: 16px;
  //   margin-right: 20px;
  // }

}

.showcase-crew {
  position: relative;

  @include inverted-color();

  &:before {
    box-shadow: inset 0 0 35px rgba(0,0,0,1);
    content: "";
    left: -2%;
    height: 100%;
    position: absolute;
    right: -2%;
  }

 .frame {
   display: none;
   overflow: hidden;

   // transition: .2s height cubic-bezier(0.4, 0.0, 0.2, 1);
   // transition: .2s opacity cubic-bezier(0.4, 0.0, 0.2, 1);
 }

 header > * {
   margin-bottom: 5px;
   @extend .mdl-typography--display-1;
 }

 .showcase-crew--item {

   @media (min-width: $grid-desktop-breakpoint) {
     display: flex;
     align-items: center;

     .showcase-crew--image {
       min-width: 600px;
     }
   }
 }

 .showcase-crew--image {
   width: 100%;
   @include set-responsive-gutter-space(margin-right);

   img {
     width: 100%;
     height: auto;
   }
 }

 .showcase-crew--text {
   @include set-responsive-margin-space(margin-right);
   @include set-responsive-margin-space(margin-left);

   // > * {
   //   max-width: 900px;
   // }
 }
}

.showcase--crew-list {
 position: absolute;
 right: 0px;
 bottom: 279px;
 left: 0;
 width: 100%;
 cursor: default;
 text-shadow: 3px 3px 10px rgba(0,0,0,0.9);

 li {
   list-style: none;
   padding: 5px;
   display: inline-block;
   padding-right: 30px;
   transition: color 1s;
   cursor: pointer;
 }
 li.active {
   color: rgb(68,138,255); /*accent*/
   /* primary: rgb(103,58,183), primary-dark: rgb(81,45,168)*/
 }

 @include change-link-color(white, $text-link-color)
}


