.layout-start {
	main > .frame-default {
		@extend .container;
	}


  .mdl-layout__content {
    .layout-start-content > .frame {
      margin-top: $section-space;
      margin-bottom: $section-space;
    }
  }





  .frame-customer {
    // background-color: $highlight-color;
    padding-top: 30px ;
    padding-bottom: 30px - $grid-tablet-gutter;

    img {
      opacity: .7;
    }

    .ce-row {
      display: flex;
      align-items: center;
    }

    .ce-gallery .ce-column {
      @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
        margin-left:  $grid-tablet-gutter *2;
        margin-right:  $grid-tablet-gutter *2;
        margin-bottom:  $grid-tablet-gutter *2;
      }
      @media (min-width: $grid-desktop-breakpoint) {
        margin-left:  $grid-desktop-gutter *5;
        margin-right:  $grid-desktop-gutter *5;
        margin-bottom:  $grid-desktop-gutter *3;
      }
    }
  }


  .news-list-view {

    .news-list-headline {
      margin-bottom: 5px;
      font-weight: 500;
    }

    .mdl-typography--headline {
      font-weight: 500;
    }
  }

}
