.contenttable {
  font-size: $data-table-font-size;
  border: $data-table-dividers;
  text-align: left;
  border-spacing: 0;

  p {
    font-size: $data-table-font-size;
    line-height: 20px;
  }

  td, th {
    border-bottom: $data-table-dividers;
    padding: 8px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: $data-table-header-font-size;
  }

  td {
  }

  th {
    color: $data-table-header-color;
  }

  thead {
    th, td {
      padding: 8px 12px;
      vertical-align: inherit;
    }
    td {
      border-bottom: none;
    }
  }

  tbody {
    th {
      border-right: $data-table-dividers;
      border-bottom: none;
      text-align: center;
      vertical-align: inherit;
      padding: 8px;
    }

    td {
      border-right: 1px solid rgba(#000, 0.04);

      &:last-child {
        border-right: none;
      }
    }

    tr:last-child {
      th, td {
        border-bottom: none;
      }
    }

  }
}
