section.threeCol {

    text-align: center;
    margin-top:  $grid-phone-gutter*3;

    header > * {
        color: white;
        //@extend .mdl-typography--headline;
        font-weight: 500;
        font-size: 26px;
    }

    @include flex-layout(3);

    > * {

        //background-color: $highlight-color;
        background-color: $accent-color;
        color: white;
        padding-left:  $grid-phone-gutter;
        padding-right:  $grid-phone-gutter;
        margin-bottom:  $grid-phone-gutter;
        overflow: hidden;

        @include shadow-3dp();

        @media (min-width: $grid-tablet-breakpoint) {
            width: 31px;
            padding-left: 22px;
            padding-right: 22px;
            margin-right: 32px;
            margin-left: 32px;
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }

        .mdl-button {
            margin-top: 32px;
        }

        .events-teaser {
            @include change-link-color($text-color-primary, $text-link-color);
        }

        @include change-link-color(white);

    }

}
