.mdl-typography--display-4 {
  text-transform: uppercase;
}

h1, .mdl-typography--display-3 {
  text-transform: uppercase;
  color: unquote("rgb(#{$color-primary})");
}

h2, .mdl-typography--display-2 {
  text-transform: uppercase;
  font-weight: 400;
  color: unquote("rgb(#{$color-primary})");
}

h3, .mdl-typography--display-1, h4, h5{
  color: unquote("rgba(#{$color-black})")
}

.mdl-typography--subhead, .subhead {
  color: black;
  font-size: 18px;
}

html , p {
  font-size: 16px;
}






