@import "material-design-lite/src/_color-definitions";

/* ==========  Color & Themes  ========== */
$color-primary: "112,0,13"  !default;
$color-primary-dark: "29,0,7" !default;
$color-accent: "112,0,13" !default;

/* ==========  Layout  ========== */
// Header
$layout-header-bg-color: unquote("rgb(#{$color-primary})");


/* ==========  Card  ========== */
$card-supporting-text-text-color: unquote("rgba(#{$color-black}, 0.7)") !default;

/* ==========  List ========== */
$list-supporting-text-text-color: unquote("rgba(#{$color-black}, 0.7)") !default;

/* DATA TABLE */
$data-table-font-size: 12px;
$data-table-header-font-size: 12px;


$text-color-primary: #414549; //#424242; //#616161;
$background-color: white; // #f5f5f5; //#fafafa;
$highlight-color: #f5f5f5;
$primary-color: unquote("rgb(#{$color-primary})");
$accent-color: unquote("rgb(#{$color-accent})");

$font-size-h1: 64px;

$footer-bg-color: #000;

// lighter gray: #5f6368;

$container-width: 925px;


$gradient: linear-gradient(to right, unquote("rgb(#{$color-primary})"), unquote("rgb(#{$color-accent})") );



/**
 * Magnific Popup
 */

// overlay
//$mfp-shadow: 0 15px 24px rgba(0,0,0,0.22), 0 19px 76px rgba(0,0,0,0.3);
// $mfp-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
 $mfp-shadow: 0 17px 17px rgba(0,0,0,.15), 0 27px 55px rgba(0,0,0,.3); // variation 2
//$mfp-overlay-opacity: 0;
// for variation 2
 $mfp-overlay-opacity: 0.5;
 $mfp-overlay-color:  #212121;  //#0b0b0b
