
<section class="showcase-crew">
      
<div id="c58" class="frame frame-default frame-type-textmedia frame-layout-0">
	<div class="showcase-crew--item">
		<div class="showcase-crew--image">
			<f:image src="/fileadmin/crew/p-soul.jpg" width="600" alt="" />
		</div>

		<div class="showcase-crew--text">
			<header><h3 class="">P-Soul</h3></header>
			<p class="subhead">Ousman Conteh</p>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
		</div>
	</div>
</div>

<div id="c59" class="frame frame-default frame-type-textmedia frame-layout-0">
	<div class="showcase-crew--item">
		<div class="showcase-crew--image">
			<f:image src="/fileadmin/crew/j-soul.jpg" width="600" alt="" />
		</div>
	
		<div class="showcase-crew--text">
				<header><h3 class="">
						J-Soul
					</h3></header><p class="subhead">Angelo Berber</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
						</p>
		</div>
	</div>
</div>
<div id="c60" class="frame frame-default frame-type-textmedia frame-layout-0">
		<div class="showcase-crew--item">
			<div class="showcase-crew--image">
				<f:image src="/fileadmin/crew/sanja.jpg" width="600" alt="" />
			</div>
		
			<div class="showcase-crew--text">
					<header><h2 class="">
							Sanja 
						</h2></header><p class="subhead">Sanja Snare</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
							</p>
			</div>
		</div>
	</div>

</section>







<f:comment>
<div id="c59" class="frame frame-default frame-type-textmedia frame-layout-0"><div class="ce-textpic ce-left ce-intext ce-nowrap"><div class="ce-gallery" data-ce-columns="1" data-ce-images="1"><div class="ce-row"><div class="ce-column"><figure class="image"><img class="image-embed-item" src="/fileadmin/_processed_/e/c/csm_j-soul_6c66197145.jpg" width="300" height="200" alt="" /></figure></div></div></div><div class="ce-bodytext">
	<header><h3 class="">
				J-Soul
			</h3></header><p class="subhead">Angelo Berber</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
				</p></div></div></div>


<div id="c60" class="frame frame-default frame-type-textmedia frame-layout-0"><div class="ce-textpic ce-left ce-intext ce-nowrap"><div class="ce-gallery" data-ce-columns="1" data-ce-images="1"><div class="ce-row"><div class="ce-column"><figure class="image"><img class="image-embed-item" src="/fileadmin/_processed_/d/1/csm_sanja_8585a2906c.jpg" width="300" height="199" alt="" /></figure></div></div></div><div class="ce-bodytext">
	<header><h2 class="">
				Sanja 
			</h2></header><p class="subhead">Sanja Snare</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
				</p></div></div></div>
			
		</div>
		
	</f:comment>
