<section id="hero" class="skew-wrap">
    <div class="hero-content skew-content">


        <v:page.resources.fal table="pages" field="media" uid="{data.uid}" as="media" slide="true">
        <v:variable.set name="firstmedia" value="{media.0}" />

            <div class="hero-media">


                <f:if condition="{firstmedia.url}">

                    <f:if condition="{firstmedia.type} == 2">
                        <f:then>




                            <v:page.header>
                                <style>
                                    section#hero .hero-media:before {
                                        background-image: url(/<f:format.raw>{firstmedia.url}</f:format.raw>);
                                    }
                                </style>
                            </v:page.header>




                        </f:then>

                        <f:else if="{firstmedia.type} == 4">
                            <v:page.header>
                                <style>
                                    section#hero .hero-media:before {
                                        background-image: none;
                                    }
                                </style>
                            </v:page.header>


                            <video class="hero-video" autoplay loop muted>
                                <source src="{firstmedia.url}" type="{firstmedia.mimetype}">
                            </video>



                        </f:else>


                    </f:if>



                </f:if>

            <f:if condition="{heroContent}">
                  <f:then>
                    <div class="hero-content-elements">
                      <f:format.raw>{heroContent}</f:format.raw>
                    </div>
                  </f:then>
                  <f:else>
                      <div class="hero-title">
                          <h1 class="hero-title--main">{data.title}</h1>
                      </div>
                  </f:else>
              </f:if>
            </div>

        </v:page.resources.fal>

    </div>
</section>



<f:comment>
<v:page.resources.fal table="pages" field="media" uid="{data.uid}" as="media">
    <video src="{media.0.url}">
    </video>
</v:page.resources.fal>

<section id="hero" class="skew-wrap">
    <div class="hero-content skew-content">
        <div class="hero-media">
            <f:format.raw>{showcase}</f:format.raw>
        </div>
    </div>
</section>





<v:page.resources.fal table="pages" field="media" uid="{pid}" as="images">
    <f:if condition="{images.0.url}">
        <style>
            section#hero .hero-image:after {
                background-image: url(/{images.0.url});
            }
        </style>
    </f:if>
</v:page.resources.fal>
</f:comment>
