$im-font-path: '../Fonts/icomoon/';

@font-face {
  font-family: 'icomoon';
  src:  url('#{$im-font-path}/icomoon.eot?bfcdw0');
  src:  url('#{$im-font-path}/icomoon.eot?bfcdw0#iefix') format('embedded-opentype'),
    url('#{$im-font-path}/icomoon.ttf?bfcdw0') format('truetype'),
    url('#{$im-font-path}/icomoon.woff?bfcdw0') format('woff'),
    url('#{$im-font-path}/icomoon.svg?bfcdw0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trophy:before {
  content: "\e99e";
}


@mixin im-icon() {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}