<!--
  MDL not working with require JS
  defer not support by typo3 8.7
-->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.min.js"></script>

<script defer
  data-main="{f:uri.resource(path: 'JavaScript/main.js')}"
  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
