<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">


<script>

  var cookiebar_message = 'Wir verwenden Cookies. Durch die weitere Nutzung unserer Website erklären Sie sich hiermit einverstanden. Weitere Informationen und eine Widerspruchsmöglichkeit gibt es in unserer ';
  var cookiebar_allow = 'Verstanden';

  var cookiebar_linktext = 'Datenschutzerklärung.';
  var cookiebar_link =     '<f:uri.page pageUid="{dataprivacyPage}" />';

  // get value from typoscript constant for using in JavaScript
  var trackingTemplate = '{trackingTemplate}';



  /*
    var cookiebar_message =  '<f:translate key="cookiebar.message" />';
    var cookiebar_allow =    '<f:translate key="cookiebar.allow" />';
    var cookiebar_deny =     '<f:translate key="cookiebar.deny" />';
    <f:if condition="{dataprivacyPage}">
      <f:then>
    var cookiebar_linktext = '<f:translate key="cookiebar.linktext" />';
    var cookiebar_link =     '<f:uri.page pageUid="{dataprivacyPage}" />';
    </f:then>
    <f:else>
    var cookiebar_linktext = '';
    var cookiebar_link =     '';
    </f:else>
    </f:if>

    // get value from typoscript constant for using in JavaScript
    var trackingTemplate = '{trackingTemplate}';
  */
</script>

</html>