.news-single {

/**
 * EXT:news
 */
  .news-single .article .news-img-wrap {
    float: right;
    width: 282px;
    margin: 0 0 0 25px;
  }

  .news-single .article .news-img-wrap img {
    float: none;
  }



  .article.mdl-card {
    width: 100%;
  }

  .mdl-card__supporting-text {
    width: initial;
  }

  .headline {
    @extend .mdl-typography--display-1;
  }

  .mdl-card__title.mdl-card__media {
    height: 280px;
    color: white;
    position: relative;
    z-index: 2;

    &:before {

      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;

      z-index: -1;
      @include scrims-totop(0.6);
    }
  }

  .news-list-date {
    @extend .mdl-typography--title;
    .material-icons {
      position: relative;
      top: 6px;
      }
  }

  .news-list-place {
    .news-list-place--name {
       @extend .mdl-typography--title;
    }
  }

  .teaser-text {
    @extend .mdl-typography--subhead-color-contrast;
  }

  .news-text-wrap {
    h2 {
      @extend .mdl-typography--headline;
    }
  }

}


