.news-list-view {

  .news-list-highlight {
     margin-bottom: 96px;

     .mdl-card {
      min-height: inherit;
     }

    .mdl-card__media {

      height: 0;

      @media (min-width: $grid-tablet-breakpoint - 1) {
        @include typo-headline;
        height: 150px;
        padding: $card-vertical-padding $card-horizontal-padding;
      }
      @media (min-width: $grid-desktop-breakpoint - 1) {
        @include typo-display-1;
        height: 200px;
      }

      color: rgba(255,255,255, 0.5);
      font-weight: 300;

      strong {
        font-weight: 500;
      }
    }

    .header.mdl-card__title {
      padding-bottom: 0;
      @include change-link-color($text-color-primary, $text-link-color);
    }

  }

  .teaser-text {
    padding-top: 0;
    p {
      margin-bottom: 0;
    }
  }


  .news-list-all {
    &.mdl-card {
      width: 100%;
    }

    .news-category--Highlight {
      .mdl-list__item-avatar {
        color: unquote("rgb(#{$color-primary})");
      }

    }
  }

}
