<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    data-namespace-typo3-fluid="true">
<!--
  =====================
    Partials/List/Item.html
-->
<li class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')} mdl-list__item mdl-list__item--two-line
<f:for each="{newsItem.categories}" as="category">
  news-category--{category.title}
</f:for>
" itemscope="itemscope" itemtype="http://schema.org/Article">



  <n:excludeDisplayedNews newsItem="{newsItem}"/>


  <!-- header -->
  <span class="mdl-list__item-primary-content">

    <span class="mdl-list__item-avatar">
      <span class="mdl-list__item-avatar-top"><f:format.date format="d">{newsItem.datetime}</f:format.date></span>
      <span class="mdl-list__item-avatar-bottom"><f:format.date format="M">{newsItem.datetime}</f:format.date></span>
    </span>
    <span itemprop="headline"><n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">{newsItem.title}</n:link></span>

    <span class="mdl-list__item-sub-title">

      <!-- date -->
      <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
        <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
        <f:format.date format="{f:translate(key:'dateFormat-time')}">{newsItem.datetime}</f:format.date>
        <f:if condition="{newsItem.endtime}">
          - <f:format.date format="{f:translate(key:'dateFormat-time')}">{newsItem.endtime}</f:format.date>
        </f:if>
        <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
      </time>
      &middot;
      <!-- place -->
      <f:if condition="{newsItem.author}">
        <span class="news-list-author">
          {newsItem.author}
        </span>
      </f:if>
    </span>

  </span>

  <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" class="mdl-list__item-secondary-content">
      <i class="material-icons">navigate_next</i>
    <span class="mdl-list__item-secondary-info"><f:translate key="more-link"/></span>
  </n:link>


</li>

</html>
