<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    data-namespace-typo3-fluid="true">
<!--
  =====================
    Partials/List/Item.html
-->

<!-- mdl-layout--large-screen-only -->
<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')} mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp {f:if(condition: '{iterator.index} > 1' , then: 'mdl-layout--large-screen-only')}" itemscope="itemscope" itemtype="http://schema.org/Article">
  <n:excludeDisplayedNews newsItem="{newsItem}"/>

<div class="news-img-wrap">
  <f:if condition="{newsItem.mediaPreviews}">
    <!-- media preview element -->
    <f:then>
      <div class="mdl-card__media" style="background-image: url(<f:uri.image image='{newsItem.mediaPreviews.0}' />);">
      </div>
    </f:then>
    <f:else>
      <div class="mdl-card__media">
        <f:comment>
        <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
          <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
        </time>
        </f:comment>

          <strong>
            <f:translate key="day.{f:format.date(date: newsItem.datetime, format: 'N')}">{f:format.date(date: newsItem.datetime, format: 'l')}</f:translate>
          </strong><br>
          <f:translate key="month-small.{f:format.date(date: newsItem.datetime, format: 'm')}">{f:format.date(date: newsItem.datetime, format: 'D')}</f:translate>
          {f:format.date(date: newsItem.datetime, format: "d")}, {f:format.date(date: newsItem.datetime, format: "Y")}<br>
          <f:format.date format="{f:translate(key:'dateFormat-time')}">{newsItem.datetime}</f:format.date>
          <f:if condition="{newsItem.endtime}">
            - <f:format.date format="{f:translate(key:'dateFormat-time')}">{newsItem.endtime}</f:format.date>
          </f:if>
      </div>
    </f:else>
  </f:if>
</div>

  <!-- header -->
  <div class="header mdl-card__title">
    <h3 class="mdl-card__title-text">
      <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
        <span itemprop="headline">{newsItem.title}</span>
      </n:link>
    </h3>
  </div>
 <div class="teaser-text mdl-card__supporting-text">

    <!-- date / place -->
    <p>
      <!-- date -->
      <span class="news-list-date">
        <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
          <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
          <f:format.date format="{f:translate(key:'dateFormat-time')}">{newsItem.datetime}</f:format.date>
          <f:if condition="{newsItem.endtime}">
            - <f:format.date format="{f:translate(key:'dateFormat-time')}">{newsItem.endtime}</f:format.date>
          </f:if>
          <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
        </time>
      </span>
    </p><p>
      <!-- author -->
      <f:if condition="{newsItem.author}">
        <span class="news-list-author">
          {newsItem.author}
        </span>
      </f:if>
    </p>

    <!-- teaser -->
    <f:comment>
      <n:removeMediaTags>
      <f:if condition="{newsItem.teaser}">
        <f:then>
          <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
        </f:then>
        <f:else>
          <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
        </f:else>
      </f:if>
      </n:removeMediaTags>
    </f:comment>
  </div>

  <!-- more-link -->
  <div class="mdl-card__actions mdl-card--border">
    <n:link newsItem="{newsItem}" settings="{settings}" class="more mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" title="{newsItem.title}">
      <f:translate key="more-link"/>
    </n:link>
  </div>

</div>
</html>
