@import "material-design-lite/src/_variables";
@import "../../../../jgrp_base/Resources/Private/Sass/includes/_variables";
@import "../../../../jgrp_base/Resources/Private/Sass/includes/_mixins";



/**
 * 3 Col Section
 * colPos 7
 */

@media (min-width: 700px) {

  .t3-page-column-7
     {
      .t3-page-ce-wrapper {
        min-height: 46px;
        position: relative;

        .t3-page-ce {
          margin-left: 0;
          margin-right: 0;
          padding: 0 10px;

          &:first-child {
            flex: none;
            margin-bottom: 0;
            padding-right: 0;
            position: absolute;
            width: auto;
            z-index: 1;
          }

          .t3-page-ce-body {
            margin-bottom: 0;
          }
        }
      }

      .t3-page-ce-dragitem {
        padding-top: 36px;
        position: relative;

        .t3js-page-new-ce {
          position: absolute;
          right: 0;
          text-align: right;
          top: 0;
          z-index: 1;
        }
      }

      .t3-page-ce-dropzone-available {
        height: 150px;
        position: absolute;
        right: -10px;
        top: 0;
        z-index: 101;

        &.active {
          width: 20px;
        }

        &.t3-page-ce-dropzone-possible {
          margin: 0;
          padding: 0;
          position: absolute;
        }
      }
    }

    .t3-page-column-7 .t3-page-ce-wrapper {
        display: flex;
        flex-wrap: wrap;

        > * {
          flex-grow: 1;
          padding: 0 ($grid-tablet-gutter / 2) $grid-tablet-gutter;
          width: 33%;
        }
    }


}
